@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* 밑에서부터 세부 적용 */

.profile_left_text1 {
  font-size: larger;
  font-weight: bolder;
}

.profile_left_text2 {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}

.profile_left_text3 {
  color: #6fbaf8;
}

.profile_right {
  font-size: 30px;
  font-family: "Nanum Pen Script", cursive;
}

h3 {
  font-size: larger;
  font-weight: bolder;
  font-family: "Nanum Pen Script", cursive;
}

.profile_box_list {
  font-size: 18px;
  font-family: "Nanum Pen Script", cursive;
}

.about_h3 {
  font-size: larger;
  font-weight: bolder;
}

.about {
  font-size: 20px;
  font-family: "Nanum Pen Script", cursive;
}

p {
  font-size: 20px;
  font-family: "Nanum Pen Script", cursive;
}

.card-title {
  font-family: "PyeongChangPeace-Bold";
}

h6 {
  font-family: "PyeongChangPeace-Bold";
}

.profile_box3_text {
  font-family: "SUITE-Regular";
}
